* {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  text-align: center;
}

h1 {
  color: gray;
}

.container {
  width: 100vw;
  //   height: 100vh;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 15% 1fr 1fr 1fr 1fr;
  @media (min-width: 576px) {
    grid-template-rows: 30vh 500px;
    grid-template-columns: 30% 30% 30%;
    grid-template-areas:
      "nav nav nav"
      "content-1 content-2 content-3";
  }
}

.content {
  //   height: 100%;
  //   width: 90%;
  //   margin: auto;
  &--article {
    margin: 10px 10px;
    &--image {
      width: 80%;
      height: 60%;
      //   margin-bottom: -40%;
    }
  }
}

.content-1 {
  grid-row: 2/3;
  background-color: blue;
  //   overflow: hidden;
  @media (min-width: 576px) {
    grid-area: content-1;
  }
}

.content-2 {
  grid-row: 3/4;
  @media (min-width: 576px) {
    grid-area: content-2;
  }
}

.content-3 {
  grid-row: 4/5;
  @media (min-width: 576px) {
    grid-area: content-3;
  }
}

header {
  @media (min-width: 576px) {
    grid-area: nav;
  }
}
